/*
// Project Name: Milestone1
// Project Version: 1.0
// Module Name: User Registration Module
// Module Version: 1.0
// Programmer Name: Justin Gewecke
// Date: 6/28/2020
// Description: This module is the registration page that a user visits in order to add their information to a database
// References: https://www.w3schools.com/php/php_mysql_insert.asp
*/

label {
	float: left;
	display: block;
}

.group {
	display: flex;
	margin-bottom: 5px;
}

input[type=text] {
	height: 2opx;
	align-items: flex-end;
	margin-left: 10px;
}

input[type=password] {
	height: 2opx;
	align-items: flex-end;
	margin-left: 10px;
}